@model PhotoProspector.ViewModels.PersonListViewModel

@Styles.Render("~/Content/scanresult")
@Styles.Render("~/Content/custombutton")
@Scripts.Render("~/bundles/scanresult")

<div id="scan_result_preview">
    <div id="preview_img_container">
        <img id="scan_result_img" src="@Model.ImageURL" />
    </div>
</div>
<div id="uploaded_options">
    <svg class="hidden">
        <defs>
            <clipPath id="clipBox" clipPathUnits="objectBoundingBox">
                <polygon points="0,0 0,1 0.35,1 0.35,0.6 0.65,0.6 0.65,1 1,1 1,0" />
            </clipPath>
        </defs>
    </svg>
    <div id="buttons_container" class="box bg-1">
        <button id="upload_button" class="custom-button custom-button--itzel custom-button--text-thick"><i class="custom-button__icon icon icon-home"></i><span>Return Home</span></button>
    </div>
</div>
<div id="person_info_container">
    @{
        var firstPerson = Model.Persons.FirstOrDefault();
        if (firstPerson != null)
        {
            <h2 class="table_header_title">Microsoft Employees</h2>
            <table id="person_info_table" class="info_table">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(p => firstPerson.alias)</th>
                        <th>@Html.DisplayNameFor(p => firstPerson.photoPath)</th>
                        <th>@Html.DisplayNameFor(p => firstPerson.displayname)</th>
                        <th>@Html.DisplayNameFor(p => firstPerson.title)</th>
                        <th>@Html.DisplayNameFor(p => firstPerson.specialty)</th>
                        <th>@Html.DisplayNameFor(p => firstPerson.team)</th>
                        <th>@Html.DisplayNameFor(p => firstPerson.favoritesport)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var person in Model.Persons)
                    {
                        <tr>
                            <td class="lalign">@Html.DisplayFor(p => person.alias)</td>
                            <td class="td_photo"><img class="avatar" src="@person.photoPath" /></td>
                            <td class="no_wrap">@Html.DisplayFor(p => person.displayname)</td>
                            <td class="no_wrap">@Html.DisplayFor(p => person.title)</td>
                            <td class="no_wrap">@Html.DisplayFor(p => person.specialty)</td>
                            <td class="no_wrap">@Html.DisplayFor(p => person.team)</td>
                            <td class="no_wrap">@Html.DisplayFor(p => person.favoritesport)</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
    @{
        var firstCustomer = Model.Customers.FirstOrDefault();
        if (firstCustomer != null)
        {
            <h2 class="table_header_title">Customers</h2>
            <table id="customer_info_table" class="info_table">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(p => firstCustomer.displayname)</th>
                        <th>@Html.DisplayNameFor(p => firstCustomer.photoPath)</th>
                        <th>@Html.DisplayNameFor(p => firstCustomer.Email)</th>
                        <th>@Html.DisplayNameFor(p => firstCustomer.favoritesport)</th>
                        <th>@Html.DisplayNameFor(p => firstCustomer.FavoriteFoods)</th>
                        <th>@Html.DisplayNameFor(p => firstCustomer.Interests)</th>
                        <th>@Html.DisplayNameFor(p => firstCustomer.Phone)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var person in Model.Customers)
                    {
                        <tr>
                            <td class="lalign">@Html.DisplayFor(p => person.displayname)</td>
                            <td class="td_photo"><img class="avatar" src="@person.photoPath" /></td>
                            <td class="no_wrap">@Html.DisplayFor(p => person.Email)</td>
                            <td class="no_wrap">@Html.DisplayFor(p => person.favoritesport)</td>
                            <td class="no_wrap">@Html.DisplayFor(p => person.FavoriteFoods)</td>
                            <td class="no_wrap">@Html.DisplayFor(p => person.Interests)</td>
                            <td class="no_wrap">@Html.DisplayFor(p => person.Phone)</td>
                            <td class="no-wrap">@Html.ActionLink("Detail", "CustomerDetail", "Scan", new { email = person.Email }, new { @class = "modal-link btn btn-success" })</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
</div>
<div id="modal-container" class="modal fade"
     tabindex="-1" role="dialog">
    <div class="modal-content">
    </div>
</div>